@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  max-width: 140rem;
  grid-template-columns: 1fr auto auto auto;
  grid-template-areas:
    'company girl-hat woman-laugh woman-side'
    'company girl-hat door        block--red'
    'text    coffee   door       man-profile';
}

@media (max-width: 1200px) {
  .container {
    max-width: 114rem;
    grid-template-columns: 1fr auto auto;
    grid-template-areas:
      'company company girl-hat girl-hat'
      'text    text  coffee coffee'
      'woman-laugh  woman-side man-profile block--red';
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 74rem;
    grid-template-columns: auto auto;
    grid-template-areas:
      'company company'
      'girl-hat girl-hat'
      'text text'
      'coffee coffee'
      'woman-laugh block--red  '
      'man-profile woman-side';
  }
}
@media (min-width: 320px) {
  .container {
    max-width: 100%;
  }
}
.company {
  grid-area: company;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .company {
    max-width: 34.2rem;
  }
}
@media (max-width: 768px) {
  .company {
    max-width: 54.5rem;
    padding: 2rem;
  }
}

.company__title {
  font-size: 6.4rem;
  font-family: 'Inter';
  font-weight: 600;
  text-align: center;
  margin-bottom: 13.7rem;
  max-width: 61.8rem;
}
@media (max-width: 768px) {
  .company__title {
    margin-bottom: 7rem;
  }
}

.text {
  grid-area: text;
  background-color: rgba(130, 130, 130, 1);
  height: 24.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text__content {
  font-size: 1.8rem;
  color: rgba(242, 242, 242, 1);
  max-width: 34.5rem;
}
@media (max-width: 1200px) {
  .text__content {
    max-width: 29.4rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 768px) {
  .text__content {
    max-width: 29.4rem;
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  .text__content {
    font-size: 2.5rem;
  }
}
.photo_girl-hat {
  grid-area: girl-hat;
  height: 47.3rem;
}
.photo_woman-laugh {
  grid-area: woman-laugh;
  height: 28.7rem;
}
@media (max-width: 768px) {
  .photo_woman-laugh__img {
    max-width: 30rem;
    width: 100%;
  }
}
.photo_door {
  grid-area: door;
}
@media (max-width: 1200px) {
  .photo_door {
    display: none;
  }
}
.photo_woman-side {
  grid-area: woman-side;
  height: 28.7rem;
}
@media (max-width: 768px) {
  .photo_woman-side__avatar {
    max-width: 24.7rem;
    width: 100%;
    height: 32rem;
  }
}

.block--red {
  grid-area: block--red;
  height: 18.6rem;
  background-color: rgba(166, 28, 28, 1);
}
@media (max-width: 1200px) {
  .block--red {
    width: 16.5rem;
    height: 21.6rem;
  }
}
@media (max-width: 768px) {
  .block--red {
    width: 24.8rem;
    height: 38.2rem;
  }
}

.photo_man-profile {
  grid-area: man-profile;
}
@media (max-width: 1200px) {
  .photo_man-profile__avatar {
    height: 21.6rem;
    width: 20rem;
  }
}
@media (max-width: 768px) {
  .photo_man-profile__avatar {
    height: 32rem;
    width: 30rem;
  }
}
.photo_coffee {
  grid-area: coffee;
  background-color: rgba(166, 128, 107, 1);
  height: 24.7rem;
}
@media (max-width: 768px) {
  .photo_coffee {
    height: 37rem;
  }
}
.img {
  max-width: 100%;
  height: auto;
}
.company__icons {
  display: flex;
  gap: 2.4rem;
}
.company__icons > img {
  cursor: pointer;
}
